.body>p{
    font-family: "PT Sans" , sans-serif;
} 
.header{
    background-image: url("pics/header.jpg");
    background-size: cover;
    width:100%;
    height:650px;
    margin:0;
    text-align: center;
    padding-top: 250px;
    
}

.header>h1{
    color: white;
    text-transform: uppercase;
}
.header>p{
    color: white;
    text-transform: uppercase;
}
.img{
    position: relative;
}

#image{
    position: relative;
    padding-top: 100px;
    /*margin-bottom: 60px    */
}
.contact{
    background-image: url("pics/contact_image.jpg");
    
}
.services{
    background-image: url("pics/services_image.jpg");
}
.about>h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}
.about{
    text-align: center;
}
.contact>h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.contact>.row{
   padding-left: 250px;
   padding-bottom: 100px;
}
.services>h1{
    padding-top: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.services{
    text-align: center;
    color:white;
}
.paragraph{
    padding-bottom: 50px;
}
.what-we-do>h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}
.what-we-do>.row{
    padding-left: 130px;  
   
}
.card1,.card2,.card3{
    max-width: 200px;
}
 .desing,.development,.management{
     text-align: center;
 } 
 .management{
    margin-top: -13px;
} 
.desing{
    padding-bottom: 100px;

} 
  
.portfolio>h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}
.row{
    padding-top: 25px;
} 
.portfolio>.row{
    padding-left: 300px;
    padding-top: 25px;
}
#name,#email,#message{
    background-color: rgb(0, 0, 0,0);
    padding-bottom: 30px;
}
form#contact-form ::placeholder{
    color:white;
}
.on{
    padding-left: 350px;
}
form#contact-form{
    max-width:500px ;
    margin:0 auto 50px;
}
footer{
    text-align: center;
}
footer>.row>img{
    padding-left: 25px;
}
footer>.row{
    padding-left: 200px
}
